<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to StreamBridge</title>
</head>
<body>
<div style="font-size: 16px; padding: 20px; font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; border-radius: 10px; max-width: 500px; margin: 0 auto; border: 1px solid #ddd; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">

    <p>Thank you for signing up, <span th:text="${name}">User</span>!..</p>

    <p>Welcome to <strong>StreamBridge</strong>,</p>

    <p>
        The ultimate platform for effortless video uploading and streaming! 🚀
    </p>

    <ul>
        <li>📤 Upload your video and get an HLS-formatted URL instantly.</li>
        <li>⚡ Stream videos efficiently with high-quality playback.</li>
        <li>📺 Watch and share videos with ease.</li>
    </ul>

    <p>
        Our goal is to make video sharing fast, smooth, and accessible for everyone.
        Start using StreamBridge today!
    </p>

    <p>
        Best,<br>
        The StreamBridge Team 🎥🚀
    </p>
</div>
</body>
</html>
